{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load static from staticfiles %}
{% block extra_head %}
<script language="javascript">
    var STATIC_URL = "{{ STATIC_URL }}";
</script>
<script src="{% static "js/home.js" %}"></script>
{% endblock %}
{% block content %}
    {{ state }}
    <h1>"Welcome {{ username }}"</h1>
    <h2>"You are currently logged in!"</h1>
    <form method="get" action="">
    <table class='span12 well' id='user_recipes_table'>
    </table>
</form>
    <div class='span12 well' id='user_search'></div>
{% endblock %}
