{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block extra_head %}
<style>
    li {
        list-style-type: none;
    }
</style>
{% load static from staticfiles %}
<script language="javascript">
    var STATIC_URL = {{ STATIC_URL }};
    var recipe_dict = {{ recipe_dict|safe }};
</script>
<script src="{% static "js/view_recipe.js" %}"></script>
{% endblock %}
{% block content %}
    <div id='recipe_header' class='span12'>
        <h1 id='recipe_name'></h1>
        <button id='fork_btn' class='btn btn-primary'>Fork Recipe</button>
        <div id='recipe_stats'>
            <div id='og' class='span2'><span><strong>*OG: </strong></span></div>
            <div id='ibu' class='span2'><span><strong>*IBU: </strong></span></div>
            <div id='color' class='span2'><span><strong>*Color: </strong></span></div>
            <div class='span2' style='float:right'>(* Estimated values)</div>
        </div>
    </div>
    <div id='hop_container' class='span12 well'>
        <h2>Hop Schedule</h2>
        <div id='hop_header'>
            <div class='span3'>
                <strong>Name</strong>
            </div>
            <div class='span2'>
                <strong>Time (min)</strong>
            </div>
            <div class='span2'>
                <strong>Alpha Acid (%)</strong>
            </div>
            <div class='span2'>
                <strong>Amount (oz)</strong>
            </div>
            <div class='span2'>
                <strong>Use</strong>
            </div>
        </div>
        <!-- hop_entry.htm can be appended here -->
    </div>
    <div id='fermentable_container' class='span12 well'>
        <h2>Grain Bill</h2>
        <div id='grain_header'>
            <div id='grain_name' class='span3'>
                <strong>Name</strong>
            </div>
            <div id='grain_color' class='span2'>
                <strong>Color (Lovibond)</strong>
            </div>
            <div id='grain_ppg' class='span3'>
                <strong>Potential Extract (ppg)</strong>
            </div>
            <div id='grain_amount' class='span2'>
                <strong>Amount (lb)</strong>
            </div>
            <div id='grain_use' class='span1'>
                <strong>Use</strong>
            </div>
        </div>
        <!-- grain_entry.htm can be appended here -->
    </div>
    <div id='yeast_container' class='span12 well'>
        <h2>Yeast</h2>
        <div id='yeast_header'>
            <div class='span3'>
                <strong>Name</strong>
            </div>
            <div class='span2'>
                <strong>Flocculation</strong>
            </div>
            <div class='span2'>
                <strong>Attenuation</strong>
            </div>
            <br><br>
        </div>
        <!-- yeast_entry.htm can be appended here -->    
    </div>
    <div id='misc_container' class='span12 well'>
        <h2>Miscellaneous</h2>
        <div class='span3'>
            <strong>Name</strong>
        </div>
        <div class='span5'>
            <strong>Description</strong>
        </div>
        <!-- misc_entry.htm can be appended here -->
    </div>
    <div id='comment_container' class='span12 well'>
        <h2>Comments</h2>
        <div id='posted_comment' class='span12' style='display:none; background-color:green'>
            <h2>Comment posted successfully!</h2><br>
        </div>
        <form id='comment_form'>{% csrf_token %}
            {{ comment_form.as_p }}
        </form>
        <input type="submit" value="Submit Comment" id="sub_comment" />
        <div id='comment_entry_container' class='span12'>
            <div class='span2' >
                <strong>Username</strong>
            </div>
            <div class='span10'></div>
        </div>
    </div>
{% endblock %}
