{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block extra_head %}
<style>
    li {
        list-style-type: none;
    }
</style>
{% load static from staticfiles %}
<script>
// global for recipe holding
var recipe = {{ recipe_dict|safe }}; // safe gets rid of &quot
// jQuery.ready 
$(function() {
    $('#recipe_name').text(recipe.recipe_name);
    display_hop_schedule();
    display_grain_bill();
    display_yeast();
    display_misc();
    display_stats();

    $('input[type=submit]').on('click', post_comment);
    console.log(recipe);
}); // end jQuery.ready

function post_comment() {
    $.post(
        "/recipe/view_recipe/" + recipe.rec_id + '/',
        {comm : $('#id_comm_text').val()},
        function(data) {
            ret_json = JSON.parse(data);
            // TODO add comment entry callback
            console.log(ret_json);
        }
    );
}

// fills a hop entry template
// TODO: Abstract and make agnostic
function fill_hop_template(hop, $template) {
    $template.find('#hop_name').append(hop.name);
    $template.find('#hop_time').append(hop.time);
    $template.find('#hop_alpha').append(hop.alpha_acid);
    $template.find('#hop_amount').append(hop.amount);
    $template.find('#hop_use').append(function() {
        switch(hop.use) {
            case 1:
                return 'First Wort';
            case 2:
                return 'Boil';
            case 3:
                return 'Whirlpool';
            case 4:
                return 'Dry Hop';
            default:
                return 'Boil';
        }
    });
}

// loops over all of the hops in a hop schedule and inserts them into the page
function display_hop_schedule() {
    $.get({{ STATIC_URL }} + 'hop_entry.htm', function(template) {
        $.each(recipe.hop_schedule, function(i, hop) {
            var $tpl = $('<div />').html(template); // make detached DOM node
            fill_hop_template(hop, $tpl);
            $('#hop_container').append($tpl.html());
        });
    });
}

// fills a grain entry template
function fill_grain_template(grain, $template) {
    $template.find('#grain_name').append(grain.name);
    $template.find('#grain_color').append(grain.color);
    $template.find('#grain_ppg').append(grain.ppg);
    $template.find('#grain_amount').append(grain.amount);
    $template.find('#grain_use').append(function() {
        switch(grain.use) {
            case 1:
                return 'Mash';
            case 2:
                return 'Boil';
            case 3:
                return 'Post-Boil';
            case 4:
                return 'Primary';
            case 5:
                return 'Secondary';
            default:
                return 'Boil';
        }
    });
}

// loops over all of the hops in a hop schedule and inserts them into the page
function display_grain_bill() {
    $.get({{ STATIC_URL }} + 'grain_entry.htm', function(template) {
        $.each(recipe.grain_bill, function(i, grain) {
            var $tpl = $('<div />').html(template); // make detached DOM node
            fill_grain_template(grain, $tpl);
            $('#fermentable_container').append($tpl.html());
        });
    });
}

// fills a yeast_entry template
function fill_yeast_template(yeast, $template) {
    $template.find('#yeast_name').append(yeast.name);
    $template.find('#flocculation').append(yeast.flocculation);
    $template.find('#attenuation').append(yeast.attenuation);
}

// loops over all of the hops in a hop schedule and inserts them into the page
function display_yeast() {
    $.get({{ STATIC_URL }} + 'yeast_entry.htm', function(template) {
        var $tpl = $('<div />').html(template); // make detached DOM node
        fill_yeast_template(recipe.yeast, $tpl);
        $('#yeast_container').append($tpl.html());
    });
}

function fill_misc_template(misc, $template) {
    $template.find('#misc_name').append(misc.name);
    $template.find('#misc_desc').append(misc.description);
}

function display_misc() {
    $.get({{ STATIC_URL }} + 'misc_entry.htm', function(template) {
        var $tpl = $('<div />').html(template); // make detached DOM node
        fill_yeast_template(recipe.misc, $tpl);
        $('#misc_container').append($tpl.html());
    });
}

function display_stats() {
    var og = calc_og();
    var ibu = calc_ibu();
    var color = calc_color();

    $('#og span').append(og);
    $('#ibu span').append(ibu);
    $('#color span').append(color);
}

// Malt SG = (Malt weight) x (Malt ppg) x (Brewhouse efficiency) / (Solution Volume)
function calc_og() {
    var og = 0.0;
    var SG = 0;
    recipe.grain_bill.forEach(function(grain) {
        var pts = grain.ppg.slice(-2);
        var tmp = parseFloat(grain.amount) * parseInt(pts) * 0.75 / 5.5;
        SG += tmp;
    });
    if (SG < 100) {
        og = "1.0" + Math.round(SG);
    } else {
        og = "1." + Math.round(SG);
    }      
    return og;
}

function hop_util(time) {
    switch(time) {
        case 90: return 0.226;
        case 80: return 0.222;
        case 70: return 0.218;
        case 60: return 0.211;
        case 55: return 0.206;
        case 50: return 0.200;
        case 45: return 0.194;
        case 40: return 0.185;
        case 35: return 0.175;
        case 30: return 0.162;
        case 25: return 0.147;
        case 20: return 0.128;
        case 15: return 0.105;
        case 10: return 0.076;
        case 5:  return 0.042;
        case 0:  return 0.000;
    }
}

function calc_ibu() {
    var ibu = 0;
    recipe.hop_schedule.forEach(function(hop) {
        var tmp = hop.amount * hop.alpha_acid * hop_util(hop.time) * 75 / 5.5;
        ibu += tmp;
    });
    return Math.round(ibu);
}

function calc_color() {
    var color = 0;
    recipe.grain_bill.forEach(function(grain) {
        var tmp = grain.amount * grain.color / 5.5;
        color = 1.4922 * Math.pow(tmp, 0.6859);
    });
    return Math.round(color);
}

//Django provided ajax send
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
{% endblock %}
{% block content %}
    <div id='recipe_header' class='span12'>
        <h1 id='recipe_name'></h1>
        <div id='recipe_stats'>
            <div id='og' class='span2'><span><strong>*OG: </strong></span></div>
            <div id='ibu' class='span2'><span><strong>*IBU: </strong></span></div>
            <div id='color' class='span2'><span><strong>*Color: </strong></span></div>
            <div class='span2' style='float:right'>(* Estimated values)</div>
        </div>
    </div>
    <div id='hop_container' class='span12 well'>
        <h2>Hop Schedule</h2>
        <div id='hop_header'>
            <div class='span3'>
                <strong>Name</strong>
            </div>
            <div class='span2'>
                <strong>Time (min)</strong>
            </div>
            <div class='span2'>
                <strong>Alpha Acid (%)</strong>
            </div>
            <div class='span2'>
                <strong>Amount (oz)</strong>
            </div>
            <div class='span2'>
                <strong>Use</strong>
            </div>
        </div>
        <!-- hop_entry.htm can be appended here -->
    </div>
    <div id='fermentable_container' class='span12 well'>
        <h2>Grain Bill</h2>
        <div id='grain_header'>
            <div id='grain_name' class='span3'>
                <strong>Name</strong>
            </div>
            <div id='grain_color' class='span2'>
                <strong>Color (Lovibond)</strong>
            </div>
            <div id='grain_ppg' class='span3'>
                <strong>Potential Extract (ppg)</strong>
            </div>
            <div id='grain_amount' class='span2'>
                <strong>Amount (lb)</strong>
            </div>
            <div id='grain_use' class='span1'>
                <strong>Use</strong>
            </div>
        </div>
        <!-- grain_entry.htm can be appended here -->
    </div>
    <div id='yeast_container' class='span12 well'>
        <h2>Yeast</h2>
        <div id='yeast_header'>
            <div class='span3'>
                <strong>Name</strong>
            </div>
            <div class='span2'>
                <strong>Flocculation</strong>
            </div>
            <div class='span2'>
                <strong>Attenuation</strong>
            </div>
            <br>
        </div>
        <!-- yeast_entry.htm can be appended here -->    
    </div>
    <div id='misc_container' class='span12 well'>
        <h2>Miscellaneous</h2>
        <div class='span3'>
            <strong>Name</strong>
        </div>
        <div class='span5'>
            <strong>Description</strong>
        </div>
        <!-- misc_entry.htm can be appended here -->
    </div>
    <div id='comment_container' class='span12 well'>
        <h2>Comments</h2>
        <form id='comment_form'>{% csrf_token %}
            {{ comment_form.as_p }}
        </form>
        <input type="submit" value="Submit Comment" id="sub_comment" />
    </div>
{% endblock %}
