<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load bootstrap_toolkit %}
<head>
    <title>Brewhub</title>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_javascript_tag %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    {% block extra_head %} {% endblock %}
</head>
<body>
    <div id="invis">
    <div id="main_body">
    <div class="container-fluid" id="navbar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
            <ul class="nav">
                <li><a href="{% url Home_Screen.views.home %}">Home</a></li>
                <li><a href="{% url User_Auth.views.user_settings %}">Settings</a></li>
                <li><a href="{% url Recipe.views.recipe_design %}">Recipe</a></li>
                <li><a href="{% url User_Auth.views.user_logout %}">Log out</a></li>
            </ul>
            </div>
        </div>
        <div class="header">
        </div>
    </div><!-- /end .container -->
    <div class="container" id="content_container">
        {% block content %}EmptyPage{% endblock %}
    </div><!-- /end #main_body -->
        <footer><p>&copy; BrewHub 2013</footer>
    </div><!-- /end invis -->
</body>
</html>
